@tailwind base;
@tailwind components;
@tailwind utilities;

$mainColor--100: #fff804;
$mainColor--200: #e280ff;
$mainColor--300: #81836c;
$mainColor--400: #000000;
$mainColor--500: #ffffff;
$mainColor--600: #e4e5de;
$mainColor--700: #f8d8d8;
$mainColor--800: rgb(255, 103, 17);

.homeArtist {
	background-color: $mainColor--100;
}

// for artist page
.musicInfo {
	background: linear-gradient(
		to right,
		#e4e5de,
		#e4e5de 50%,
		#fff804 50%,
		#fff804
	);
}

.musicGroup1 {
	background-color: $mainColor--600;
}

.artistResource1 {
	background-color: $mainColor--300;
}

.artistResource2 {
	background-color: $mainColor--700;
}

.testimonalBg {
	background-color: $mainColor--800;
}
